<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern"
		    value="%-5p %C{1}.%M:%L - %m%n"/>
           </layout>	    
	</appender>
	
	<category name="org.apache.log4j.xml">
	  <priority value="info" />
	</category>
	
	<category name="com.thoughtworks.xjb.jndi.XjbInitialContextFactory">
	  <priority value="info" />
	</category>
	
	<category name="com.thoughtworks.xjb.jndi.XjbInitialContextFactoryBuilder">
	  <priority value="info" />
	</category>
	
	<category name="com.thoughtworks.xjb.session.DelegatingInvocationHandler">
	  <priority value="info" />
	</category>

	<category name="com.thoughtworks.xjb.config.ejbjar.xpp.XppEjbJarConfigurator">
	  <priority value="info" />
	</category>

	<category name="com.thoughtworks.xjb.config.ejbjar.exml.ExmlEjbJarConfigurator">
	  <priority value="info" />
	</category>

	<category name="com.thoughtworks.xjb.config.ejbjar.EjbJarConfiguratorSupport">
	  <priority value="info" />
	</category>

	<root>
	   <priority value ="info" />
   	   <appender-ref ref="STDOUT" />
	</root>
	
</log4j:configuration>
 